<p>צור חשבונית</p>
<mat-dialog-content>
    <data-area [settings]="area"></data-area>
    <table class="table-bordered" *ngIf="items">
        <tr>

            <td>תאור פריט</td>
            <td>כמות - {{totalQuantity()}}</td>
            <td>מחיר - {{total().toFixed(2)}}</td>
            <td>כמות במלאי</td>
            <td>כמות בהזמנה</td>
            <td>כמות שהופקה בחשבוניות קודמות</td>
        </tr>
        <tr *ngFor="let i of items">

            <td>{{i.productName}}</td>
            <td style="width:100px">
                <data-control class="quantity" [field]="getQuantityField(i)"></data-control>
            </td>
            <td style="width:100px">
                <data-control class="quantity" [field]="getUnitPrice(i)"></data-control>
            </td>
            <td>{{i.quantityInStock}}</td>
            <td>{{i.orderedQuantity}}</td>
            <td>{{i.quantityDelivered}}</td>
        </tr>
    </table>
    <data-area [settings]="area2"></data-area>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="addProduct()">הוסף מוצר</button>
    <button mat-raised-button color="primary" (click)="createInvoice()">צור חשבונית</button>
    <button mat-raised-button (click)="this.saveDraft()">שמור </button>
    <button mat-raised-button (click)="cancel()">בטל</button>
</mat-dialog-actions>