@import url("https://fonts.googleapis.com/css?family=Assistant:400|Heebo:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.full-page {
    height: 100%;
    display: flex;
    flex-flow: column;
  }
  .grow-item {
    height: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    overflow-y: auto;
  }
  .mat-h1, .mat-headline, .mat-typography h1 {
    font-family: "Heebo",Arial,Helvetica,sans-serif;
    
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 24px;
    line-height: 32px;
    
    margin: 0 0 16px;
}
.mat-toolbar {
  font-family: "Heebo",Arial,Helvetica,sans-serif;
  
}
.mat-card {
  
  font-family: "Heebo",Arial,Helvetica,sans-serif;
  
}
 .mat-h2{
  font-family: "Heebo",Arial,Helvetica,sans-serif;
  font-weight: 400;
}